@import "./style/reset.css";
@import "./style/color.css";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
	font-family: "Wotfard Regular";
	font-style: normal;
	font-weight: normal;
	src:
		local("Wotfard Regular"),
		url("../public/fonts/Wotfard-Regular.woff") format("woff");
}

:root {
	/* Fonts */
	--font-family-default:
		"Wotfard Regular", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif;
	--line-height-default: 1.5;
	--font-weight-default: 400;
	--nav-font-size: 14px;
	font-family: var(--font-family-default);
	line-height: var(--line-height-default);
	font-weight: var(--font-weight-default);
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;

	/* Colors */
	--color-text-default: var(--ds-gray-1000);
	--color-background-default: var(--ds-gray-100);
	--color-primary: white;
	--color-primary-hover: #cfcfcf;
	--color-border-default: var(--ds-gray-400);
	--color-accent: white;
	--color-accent-hover: white;
	--color-secondary-text: var(--ds-gray-900);
	--color-image-border: var(--ds-blue-700);
	--color-call-bg: var(--geist-cyan-dark);
	--color-sign-bg: var(--ds-blue-900);
	color-scheme: light dark;
	color: var(--color-text-default);
	background-color: var(--color-background-default);

	/* Others */
	--nav-padding: 4px 18px;
	position: relative;
	z-index: 0;
}

body {
	height: 100%;
	margin: 0;
	min-height: 100vh;
	width: 100%;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: calc(100vw - 20%);
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 100px);
}

.left {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	place-items: start;
	row-gap: 2em;
	text-align: right;
	z-index: 2;
}

.card,
.links {
	width: 100%;
}

.links {
	column-gap: 18px;
	display: flex;
}

.info {
	column-gap: 2em;
	display: flex;
}

.details {
	align-items: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.name {
	color: var(--color-text-default);
	display: inline-block;
	font-family: var(--font-family-default);
	font-size: 2em;
	font-weight: 700;
	overflow: hidden;
	transition: transform 0.5s ease;
	user-select: none;
	white-space: nowrap;
}

.name:hover {
	transform: translateX(calc(0 - 100%));
}

.omit {
	color: var(--color-text-default);
	display: inline-block;
	font-weight: 500;
	max-width: 0;
	overflow: hidden;
	transition: max-width 0.5s ease;
	vertical-align: top;
	-webkit-text-stroke: 0.2vw #2225;
	will-change: max-width;
}

.name:hover .omit {
	max-width: 120px;
}

.role {
	color: var(--color-secondary-text);
	font-size: 1.6em;
	font-weight: var(--font-weight-default);
	user-select: none;
}

.text {
	color: var(--color-secondary-text);
	font-size: 1.2em;
	justify-content: left;
	text-align: left;
}

.company {
	color: var(--color-accent);
}

.company:hover {
	color: var(--color-accent-hover);
}

.link {
	color: var(--color-primary);
	font-size: 16px;
	text-decoration: none;
}

.link-app {
	color: var(--color-primary);
	text-decoration: none;
}

.link-app:hover {
	color: #cfcfcf;
}

.link:hover {
	color: var(--color-primary-hover);
}

.img-profile {
	border-radius: 50%;
	height: 110px;
	margin: 0 auto;
	width: 110px;
}

.hello {
	background-color: var(--color-sign-bg);
}

.sign {
	filter: invert(100%);
	margin-left: auto;
	transform: rotate(-10deg);
	-webkit-filter: invert(100%);
	width: 180px;
}

.call {
	background-color: var(--color-call-bg);
	border: 1px solid var(--color-primary);
}

.image-container {
	align-items: center;
	border: 1px solid var(--color-border-default);
	border-radius: 100%;
	display: flex;
	height: 120px;
	justify-content: center;
	min-height: 120px;
	min-width: 120px;
	position: relative;
	width: 120px;
}

.txt-container {
	height: 100px;
	position: relative;
	width: 500px;
}

.navbar {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 48px;
	justify-content: center;
	margin: 32px 0;
	position: relative;
	width: 100%;
	z-index: 100;
}

.navContainer {
	border: 1px solid var(--color-border-default);
	border-radius: 32px;
	column-gap: 8px;
	display: flex;
	padding: 4px;
	width: max-content;
}

.nav {
	color: var(--ds-gray-600);
	cursor: pointer;
	font-size: var(--nav-font-size);
	padding: var(--nav-padding);
	text-decoration: none;
}

.nav:hover {
	color: var(--color-primary-hover);
}

.activeNav {
	background-color: var(--color-background-default);
	border-radius: 25px;
	color: var(--color-primary-hover);
}

.skillsContainer {
	align-items: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2em;
	width: 50%;
}

.label {
	color: var(--ds-gray-600);
	cursor: pointer;
	font-family: Fira Code;
	font-size: var(--nav-font-size);
	padding: var(--nav-padding);
	text-decoration: none;
}

.disable:hover {
	color: var(--ds-gray-600);
	cursor: not-allowed;
}

@media screen and (min-width: 1571px) {
	.left {
		max-width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.wrapper {
		max-width: 100%;
	}

	.container {
		height: auto;
		margin: 20px auto;
		padding: 20px;
	}

	.info {
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.details {
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.role {
		color: var(--color-secondary-text);
		font-size: 1.6em;
		font-weight: var(--font-weight-default);
		user-select: none;
	}

	.sign {
		display: none;
	}
}

@media (prefers-color-scheme: light) {
	.navContainer {
		background-color: var(--color-text-default);
		border: 1px solid var(--ds-gray-600);
	}

	.activeNav {
		background-color: var(--color-primary);
		border-radius: 25px;
		color: var(--color-background-default);
	}

	.nav:hover {
		color: var(--color-background-default);
	}
}
